[submodule "sparrow"]
	path = sparrow
	url = git@github.com:elemel/sparrow.git
	branch = elemel/cradle
[submodule "heart"]
	path = heart
	url = git@github.com:elemel/heart.git
	branch = elemel/cradle
[submodule "Slab"]
	path = Slab
	url = git@github.com:elemel/Slab.git
	branch = elemel/cradle
[submodule "json.lua"]
	path = json.lua
	url = git@github.com:rxi/json.lua.git
